{{> home/header }}
<style>
	.home-alter-cards {
		position: relative !important;
	}

	.clerk-profile-link {
		text-decoration: none !important;
		color: rgba(128, 42, 144, 1) !important;
	}
</style>
<div class="row">
	<div class="col-lg-12">
		<picture alt="Imagem do banner de Templo Sagrado">
			<source media="(max-width: 425px)" srcset="assets/home/img/425x425p.png">
			<img width="100%" src="assets/home/img/banner_03.jpg" alt="Banner de Templo Sagrado">
		</picture>
	</div>
</div>
<div class="home-scroll-x mt-4">
	<div class="row home-row-content">
		<div class="col home-items">
			<div class="home-column-content home-column-content-stories">
				<img src="assets/home/img/A1.png" class="rounded" alt="astrologia">
				<h6 class="text-center"> ASTROLOGIA </h6>
			</div>
		</div>
		<div class="col home-items">
			<div class="home-column-content home-column-content-stories">
				<img src="assets/home/img/A2.png" class="rounded" alt="tarot">
				<h6 class="text-center"> TAROT </h6>
			</div>
		</div>
		<div class="col home-items">
			<div class="home-column-content home-column-content-stories">
				<img src="assets/home/img/A3.png" class="rounded" alt="cigano">
				<h6 class="text-center"> B.CIGANO </h6>
			</div>
		</div>
		<div class="col home-items">
			<div class="home-column-content home-column-content-stories">
				<img src="assets/home/img/A4.png" class="rounded" alt="videncia">
				<h6 class="text-center"> VIDÊNCIA </h6>
			</div>
		</div>
		<div class="col home-items">
			<div class="home-column-content home-column-content-stories">
				<img src="assets/home/img/A5.png" class="rounded" alt="cartomancia">
				<h6 class="text-center"> CARTOMANCIA </h6>
			</div>
		</div>
		<div class="col home-items">
			<div class="home-column-content home-column-content-stories">
				<img src="assets/home/img/A6.png" class="rounded" alt="numerologia">
				<h6 class="text-center"> NUMEROLOGIA </h6>
			</div>
		</div>
		<div class="col home-items">
			<div class="home-column-content home-column-content-stories">
				<img src="assets/home/img/A8.png" class="rounded" alt="amor">
				<h6 class="text-center"> AMOR </h6>
			</div>
		</div>
		<div class="col home-items">
			<div class="home-column-content home-column-content-stories">
				<img src="assets/home/img/A9.png" class="rounded" alt="ente-querido">
				<h6 class="text-center"> ENTES QUERIDOS </h6>
			</div>
		</div>
		<div class="col home-items">
			<div class="home-column-content home-column-content-stories">
				<img src="assets/home/img/A7.png" class="rounded" alt="dinheiro">
				<h6 class="text-center"> DINHEIRO </h6>
			</div>
		</div>
	</div>
</div>
<div class="bg-light home-content container-fluid" style="min-height: 100%;">
	<h1 class="home-consultants mt-2"> CONSULTORES </h1>
	<img src="assets/home/img/linha_menu2.png" class="home-menu-decoration img-fluid" alt="menu-decoration">
	<div id="clerksOnline" class="container-fluid">
		<div class="row mt-1 pb-5 mb-5 pt-5">
			{{#each clerk_data}}
            	<div class="col-lg-3 col-md-6 mb-5 pb-5 pt-5 mt-5">
					<div class="card text-center home-card-atendent">
						<img src="{{ this.2.clerk_image }}" class="rounded-circle mx-auto"
							style="margin-left: 20% !important; width: 60%; margin-top: -20%;" alt="consultor">
						<button type="button" class="btn btn-block home-alter-leght-name">
							<a class="clerk-profile-link" href="/clerk-profile/{{this.0.user_id}}">
								<i class="fa fa-user home-icon-atendent"></i>
								{{ this.2.clerk_info_exhibition }}
							</a>
						</button>
						<div class="card-footer mt-5 pt-5" style="border: none;">
							<p class="home-description card-text"> {{this.2.clerk_info_phrase}} </p>
							<button data-clerk-id="{{this.0.user_id}}" disabled="true" type="button"
								class="new-text-chat btn btn-block home-atendiments-forms">
								<img data-clerk-id="{{this.0.user_id}}" src="assets/home/img/B1.png" alt="chat">
								Atendimento via Chat <br>€<span data-clerk-id="{{this.0.user_id}}" class="valMinChat"></span>/min
							</button>
							<button data-clerk-id="{{this.0.user_id}}" disabled="true" type="button"
								class="new-voice-chat btn btn-block home-atendiments-forms">
								<img data-clerk-id="{{this.0.user_id}}" src="assets/home/img/B3.png" alt="phone">
								Atendimento via Tel. <br> €<span data-clerk-id="{{this.0.user_id}}" class="valMinVoip"></span>/min
							</button>
							<div class="mt-2" data-clerk-id="{{ this.0.user_id }}">
								<button type="button" class="btn btn-block btn-dark"> <i data-clerk-id="{{ this.0.user_id }}" class="far fa-paper-plane"></i>
									Avise-me
								</button>
							</div>
						</div>
					</div>
				</div>
			{{/each}}
			{{#each self_data}}
            	<div class="col-lg-3 col-md-6 mb-5 pb-5 pt-5 mt-5">
					<div class="card text-center home-card-atendent">
						<img src="{{ this.2.clerk_image }}" class="rounded-circle mx-auto"
							style=" margin-left: 20% !important; width: 60%; margin-top: -20%;" alt="consultor">
						<button type="button" class="btn btn-block home-alter-leght-name">
							<a class="clerk-profile-link" href="/clerk-profile/{{this.0.user_id}}">
								<i class="fa fa-user home-icon-atendent"></i>
								{{ this.2.clerk_info_exhibition }}
							</a>
						</button>
						<div class="card-footer mt-5 pt-5" style="border: none;">
							<p class="home-description card-text"> {{this.2.clerk_info_phrase}} </p>
							<button data-clerk-id="{{this.0.user_id}}" disabled="true" type="button"
								class="new-text-chat btn btn-block home-atendiments-forms">
								<img data-clerk-id="{{this.0.user_id}}" src="assets/home/img/B1.png" alt="chat">
								Atendimento via Chat <br>€<span data-clerk-id="{{this.0.user_id}}" class="valMinChat"></span>/min
							</button>
							<button data-clerk-id="{{this.0.user_id}}" disabled="true" type="button"
								class="new-voice-chat btn btn-block home-atendiments-forms">
								<img data-clerk-id="{{this.0.user_id}}" src="assets/home/img/B3.png" alt="phone">
								Atendimento via Tel. <br> €<span data-clerk-id="{{this.0.user_id}}" class="valMinVoip"></span>/min
							</button>
							<div class="mt-2" data-clerk-id="{{ this.0.user_id }}">
								<button type="button" class="btn btn-block btn-dark"> <i data-clerk-id="{{ this.0.user_id }}" class="far fa-paper-plane"></i>
									Avise-me
								</button>
							</div>
						</div>
					</div>
				</div>
			{{/each}}
		</div>
	</div>
	<div class="home-alter-sapce-between-last-card-with-button">
		<a href="/clerks">
			<button type="button" class="home-plus">
				VER TODOS
			</button>
		</a>
	</div>
</div>

{{> home/footer }}

<script type="text/javascript">
	$(document).ready(() => {


		const statusClerkButtons = (user_id, status) => {
			if (status === 1) {
				// Is available (Can innit a connect)
				$('div[data-clerk-id="' + user_id + '"]').html('<button type="button" class="btn btn-block mt-2 home-atendiments-forms-available"><i class="fas fa-rss"></i> Disponível</button>');
				$('button[data-clerk-id="' + user_id + '"]').removeAttr('disabled');
			}

			if (status === 2) {
				// Is on a call, so do you wanna wait for it?
				$('div[data-clerk-id="' + user_id + '"]').html('<button type="button" disabled class="btn btn-block mt-2 home-atendiments-forms-available"><i class="fas fa-rss"></i> Em atendimento </button>');
			}
		};

		$.get('/admin/config/get-configs', (e) => {
			var data = JSON.parse(e)[0];
			$('.valMinChat').text(data['absolute_min_value_chat']);
			$('.valMinVoip').text(data['absolute_min_value_voice']);
		});


		$.get('/whats-my-id', async (e) => {
			const myId = JSON.parse(e);

			const myMins = await $.get("/chat-mins", (e) => e);
			const myMinsVoip = await $.get("/voip-mins", (e) => e);

			var available_clerks = [];


			const socket = new WebSocket("wss://attend.templo-sagrado.com/ws");

			socket.onopen = (event) => {
				socket.send(`new-client-entered-thread`);
			}

			socket.onmessage = async (event) => {
				if (event.data.includes('clerks-available>')) {
					var data = event.data.split('>');
					[].map.call(JSON.parse(data[1]), (clerk) => {
						statusClerkButtons(clerk['clerk_id'], clerk['is_available']);
					});
				}

				if (event.data.includes('text-chat-acc') && event.data.includes('client_id>' + myId)) {
					window.location = '/chat/' + event.data.split(';')[1];

				}

				if (event.data.includes('voice-chat-acc') && event.data.includes('client_id>' + myId)) {
					window.location = '/voip/' + event.data.split(';')[1];
				}

				if (event.data.includes('text-chat-ref') && event.data.includes('client_id>' + myId)) {
					Swal.fire({
						title: 'O atendente recusou sua solicitação.',
						text: "Por favor, aguarde ou selecione outro atendente.",
						showConfirmButton: false,
						timer: 2000
					});
				}


				if (event.data.includes('voice-chat-ref') && event.data.includes('client_id>' + myId)) {
					Swal.fire({
						title: 'O atendente recusou sua solicitação.',
						text: "Por favor, aguarde ou selecione outro atendente.",
						showConfirmButton: false,
						timer: 2000
					});
				}
			}

			$(document).on('click', '.new-voice-chat', async function (e) {
				if ($(e.target).data('clerk-id') > 0) {
					if (parseFloat(myBalance) >= (configs['absolute_min_value_voice'] * 3)) {
						socket.send(JSON.stringify({
							action: "voice-chat-intend",
							client_id: client_id,
							clerk_id: $(e.target).data('clerk-id'),
							data: null,
							from: 'Client'
						}));


						Swal.fire({
							title: 'Esperando o atendente responder sua requisição de atendimento!',
							showCloseButton: true,
							showCancelButton: true,
							cancelButtonText:
								'Cancelar',
							onBeforeOpen: function () {
								Swal.showLoading()
							},
						});

					} else {
						Swal.fire({
							title: 'Você não possui créditos Suficientes..',
							text: "Você será redirecionado a página de compra de minutos.",
							showConfirmButton: false,
							timer: 2500
						});

						await new Promise(r => setTimeout(r, 2000));
						window.location = '/buy-minutes';

					}
				} else {
					Swal.fire({
						title: 'Sem suporte...',
						text: "Atualize a página, se o erro persistir por favor tente em outro navegador...",
						icon: 'warning',
					});
				}
			});


			$(document).on('click', '.new-text-chat', async function (e) {
				if ($(e.target).data('clerk-id') > 0) {
					if (parseFloat(myBalance) >= parseFloat(configs['absolute_min_value_chat'] * 3)) {
						socket.send(JSON.stringify({
							action: "text-chat-intend",
							client_id: client_id,
							clerk_id: $(e.target).data('clerk-id'),
							data: null,
							from: 'Client'
						}));

						Swal.fire({
							title: 'Esperando o atendente responder sua requisição de atendimento!',
							showCloseButton: true,
							showCancelButton: true,
							cancelButtonText:
								'Cancelar',
							onBeforeOpen: function () {
								Swal.showLoading()
							},
						});
					} else {
						Swal.fire({
							title: 'Você não possui créditos!',
							text: "Você será redirecionado a página de compra de minutos.",
							showConfirmButton: false,
							timer: 2500
						});

						await new Promise(r => setTimeout(r, 2000));
						window.location = '/buy-minutes';
					}
				} else {
					Swal.fire({
						title: 'Sem suporte...',
						text: "Atualize a página, se o erro persistir por favor tente em outro navegador...",
						icon: 'warning',
					});
				}
			});
		});

	});
</script>